# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

Some of the popular languages that Data Scientists use are:


1. Python
2. R Language
3. SQL
4. JavaScript

Some of the commonly used libraries used by Data Scientists include:
1. NUMPY
2. Matplotlib
3. Pandas
4. PyTorch
5. SciPy

| Data Science Tools    |
| -------- |
| Apache Spark |
| TensorFlow |
| Scikit-Learn |

### Below are a few examples of evaluating arithmetic expressions in Python

In [1]:
#This a simple arithmetic expression to mutiply then add integers

print((3 * 4) + 5)

17

In [2]:
# This will convert 200 minutes to hours by diving by 60

minutes = 200
hours = minutes / 60
print(hours)

3.3333333333333335

**Objectives:**
* Obj 1
* Obj 2
* Obj 3

## Author
Varun Herlekar